// gallery start
.gallery
	.gallery__cards.small-up-2.medium-up-3.large-up-4.row
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal1')
			.gallery__modal.columns#Modal1.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					#sync1.owl-carousel
						.item
							img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						.item
							img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						#sync2.owl-carousel
							.item
								img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
							.item
								img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal2')
			.gallery__modal.columns#Modal2.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal3')
			.gallery__modal.columns#Modal3.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal4')
			.gallery__modal.columns#Modal4.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal5')
			.gallery__modal.columns#Modal5.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal6')
			.gallery__modal.columns#Modal6.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal7')
			.gallery__modal.columns#Modal7.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal8')
			.gallery__modal.columns#Modal8.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal9')
			.gallery__modal.columns#Modal9.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal10')
			.gallery__modal.columns#Modal10.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal11')
			.gallery__modal.columns#Modal11.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
		.column
			img.thumbnail.pointer(src='../img/obchagi_cr_301x347.png', alt="Oбщаги.ру", data-toggle='Modal12')
			.gallery__modal.columns#Modal12.large.reveal(data-reveal='')
				button.close-button(data-close='', aria-label='Close reveal', type='button')
					span(aria-hidden='true') ×
				.gallery__img__project.small-12.medium-4.large-4.column
					//- #sync1.owl-carousel
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
					//- 	.item
					//- 		img(src='../img/obchagi.jpg', alt="Oбщаги.ру")
				.gallery__info__wrap.small-12.medium-8.large-8.column
					.gallery__info__project
						h2.gallery__name__project Oбщаги.ру
						h3.gallery__description__project Описание проекта:
							ul.gallery__tehnology__project
								li Bootstrap 3
								li Flexbox
								li CSS3 & HTML5
								li SVG
								li Stylus, Jade, Galp
								li Количество страниц 7
								li Адаптивная верстка
						.gallery__link__project Сылка на проект 
							a(href='#') кликни
					.gallery__thumb__project
						//- #sync2.owl-carousel
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")
						//- 	.item
						//- 		img.thumbnail(src='../img/obchagi.jpg', alt="Oбщаги.ру")

// gallery and