.pointer
	cursor: pointer
.gallery
	margin-top: 30px
	margin-left: 50px
	margin-right: 50px
	&__cards
		width: 100%
		height: 100%
		box-shadow: 0 0 10px rgba(0,0,0,0.5)
		padding-top: 15px
	&__img__project
		img
			box-shadow: 0 0 10px rgba(0,0,0,0.5)
			width: 250px
			height: 100%
	&__name__project
		font-size: 32px
		margin-bottom: 17px
		text-align: center
	&__description__project
		font-size: 20px
		margin-left: 25px
	&__tehnology__project
		font-size: 18px
		margin-left: 50px
	&__modal
		width: 70% !important
	&__link__project, &__thumb__project
		margin-left: 25px
#sync1
	.item
		margin 5px
		border-radius 3px
		text-align center
#sync2
	.item
		padding 10px 0px
		margin 5px
		border-radius 3px
		text-align center
		cursor pointer