.header
	background-color: #FFF
	background: #00ACC1
	border-bottom: 2px solid #000
	&__menu
		margin: 0px 130px 0 130px
	&__menu__right
		background: #00ACC1
		ul
			background: none
	// &__logo
	// 	a
	// 		margin-left: 100px
	.title-bar
		float: right
		background: none