//- script(src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js')
//- script(src='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js')
//- // libs:js 
//- // endinject 
// app:js 
// endinject 
script.
	$(document).foundation();
