meta(charset='UTF-8')
meta(name='description' content='')
meta(name='keywords' content='')
meta(name='author' content='')
meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
meta(http-equiv='x-ua-compatible', content='ie=edge')
title TestDrive
link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
//- script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
//- link(href='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css', rel='stylesheet')
//- // libs:css 
//- // endinject 
// app:css 
// endinject