// footer start
footer.footer
	.row
		.footer__menu__top.center.float-center
			.small-12.medium-12.large-5.columns.footer__menu
				.footer__menu__logo
					.fi-shield 
						span FULLSTUDIO
				ul.footer__menu__link
					li: a(href='#') Home
					li: a(href='#') Blog
					li: a(href='#') Pricing
					li: a(href='#') About
					li: a(href='#') Faq
					li: a(href='#') Contact
			.small-12.medium-12.large-4.columns
				.footer__contact
					.contact
						.fi-mail 
							span skype: feeel1
						.fi-mail 
							span feeel1@yandex.ru
			.small-12.medium-12.large-3.columns
				.menu-bar.icon-bottom
						.inline-list.social
							a(href='#')
								i.fi-social-facebook
							a(href='#')
								i.fi-social-twitter
							a(href='#')
								i.fi-social-linkedin
							a(href='#')
								i.fi-social-github
			.large-12.columns.copywrite Copyright © Наша компания, 2015
// footer and