
// grid
$screen-xs-min = 320px
$screen-phone-max = 479px
$screen-phone-min = 480px
$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 991px
$screen-md-min = 992px
$screen-md-max = 1199px
$screen-lg-min = 1200px
$screen-lg-max = 1265px
// grid zurb
$small-screen = 640px
$medium-screen = 1024px
$large-screen = 1440px
$xlarge-screen = 1920px

//colors

$white = #fff
$black = #000
$grey_01 = #fafafa
$grey_05 = #b2b4b3
$grey_06 = #4c4b4b

$grey_1 = #ccc
$grey_2 = #999
$grey_3 = #666
$grey_4 = #333